@font-face {
  font-family: 'scavengerbot';
  src:
    url('fonts/scavengerbot.ttf?vxg345') format('truetype'),
    url('fonts/scavengerbot.woff?vxg345') format('woff'),
    url('fonts/scavengerbot.svg?vxg345#scavengerbot') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.sbi {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'scavengerbot' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sbi-abt:before {
  content: "\e900";
  color: #3effff;
}
.sbi-act:before {
  content: "\e901";
  color: #767dff;
}
.sbi-actn:before {
  content: "\e902";
  color: #f00;
}
.sbi-ada:before {
  content: "\e903";
}
.sbi-add:before {
  content: "\e904";
  color: #fec807;
}
.sbi-adx:before {
  content: "\e905";
  color: #1b75bc;
}
.sbi-ae:before {
  content: "\e906";
  color: #de3f6b;
}
.sbi-aeon:before {
  content: "\e907";
  color: #134451;
}
.sbi-aeur:before {
  content: "\e908";
}
.sbi-agi .path1:before {
  content: "\e909";
  color: rgb(105, 22, 255);
}
.sbi-agi .path2:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(105, 22, 255);
  opacity: 0.5;
}
.sbi-agrs:before {
  content: "\e90b";
  color: #f49e00;
}
.sbi-aion .path1:before {
  content: "\e90c";
  color: rgb(0, 191, 236);
}
.sbi-aion .path2:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(0, 191, 236);
  opacity: 0.5;
}
.sbi-algo:before {
  content: "\e90e";
}
.sbi-amb:before {
  content: "\e90f";
  color: #3c5be0;
}
.sbi-amp:before {
  content: "\e910";
  color: #2daee4;
}
.sbi-ampl:before {
  content: "\e911";
}
.sbi-ant:before {
  content: "\e912";
  color: #2cd3e1;
}
.sbi-apex:before {
  content: "\e913";
  color: #1f4c9f;
}
.sbi-appc:before {
  content: "\e914";
  color: #fd875e;
}
.sbi-ardr:before {
  content: "\e915";
  color: #3c87c7;
}
.sbi-arg:before {
  content: "\e916";
  color: #a71435;
}
.sbi-ark:before {
  content: "\e917";
  color: #f70000;
}
.sbi-arn:before {
  content: "\e918";
  color: #0092b5;
}
.sbi-ary:before {
  content: "\e919";
}
.sbi-ast:before {
  content: "\e91a";
  color: #0061ff;
}
.sbi-atm:before {
  content: "\e91b";
  color: #346fce;
}
.sbi-atom:before {
  content: "\e91c";
}
.sbi-audr:before {
  content: "\e91d";
  color: #34318a;
}
.sbi-auto:before {
  content: "\e91e";
  color: #fab431;
}
.sbi-aywa:before {
  content: "\e91f";
  color: #3355b5;
}
.sbi-bab:before {
  content: "\e920";
  color: #f19f13;
}
.sbi-bal:before {
  content: "\e921";
}
.sbi-band:before {
  content: "\e922";
  color: #516aff;
}
.sbi-bat:before {
  content: "\e923";
  color: #ff5000;
}
.sbi-bay:before {
  content: "\e924";
  color: #6356ab;
}
.sbi-bcbc:before {
  content: "\e925";
  color: #004ab5;
}
.sbi-bcc:before {
  content: "\e926";
  color: #f7931c;
}
.sbi-bcd:before {
  content: "\e927";
  color: #fcc339;
}
.sbi-bch:before {
  content: "\e928";
  color: #8dc351;
}
.sbi-bcio:before {
  content: "\e929";
  color: #3f43ad;
}
.sbi-bcn:before {
  content: "\e92a";
  color: #f04086;
}
.sbi-bco:before {
  content: "\e92b";
  color: #2c76b7;
}
.sbi-bcpt:before {
  content: "\e92c";
}
.sbi-bdl:before {
  content: "\e92d";
  color: #e54c40;
}
.sbi-beam:before {
  content: "\e92e";
  color: #0b76ff;
}
.sbi-bela:before {
  content: "\e92f";
  color: #13a0f6;
}
.sbi-bix:before {
  content: "\e930";
}
.sbi-blcn:before {
  content: "\e931";
  color: #2aabe4;
}
.sbi-blk:before {
  content: "\e932";
}
.sbi-block:before {
  content: "\e933";
  color: #101341;
}
.sbi-blz:before {
  content: "\e934";
  color: #18578c;
}
.sbi-bnb:before {
  content: "\e935";
  color: #f3ba2f;
}
.sbi-bnt:before {
  content: "\e936";
}
.sbi-bnty:before {
  content: "\e937";
  color: #fd7a3d;
}
.sbi-booty:before {
  content: "\e938";
  color: #00b4f4;
}
.sbi-bos:before {
  content: "\e939";
  color: #00a8d6;
}
.sbi-bpt:before {
  content: "\e93a";
  color: #0f63d8;
}
.sbi-bq:before {
  content: "\e93b";
}
.sbi-brd:before {
  content: "\e93c";
  color: #fe5d86;
}
.sbi-bsd:before {
  content: "\e93d";
}
.sbi-bsv:before {
  content: "\e93e";
  color: #eab304;
}
.sbi-btc:before {
  content: "\e93f";
  color: #f7931a;
}
.sbi-btcd:before {
  content: "\e940";
  color: #f60;
}
.sbi-btch:before {
  content: "\e941";
  color: #4700c2;
}
.sbi-btcp:before {
  content: "\e942";
  color: #272d63;
}
.sbi-btcz:before {
  content: "\e943";
  color: #f8c24a;
}
.sbi-btdx:before {
  content: "\e944";
  color: #0af;
}
.sbi-btg:before {
  content: "\e945";
  color: #eba809;
}
.sbi-btm:before {
  content: "\e946";
  color: #504c4c;
}
.sbi-bts:before {
  content: "\e947";
  color: #35baeb;
}
.sbi-btt:before {
  content: "\e948";
}
.sbi-btx:before {
  content: "\e949";
  color: #fb2ea3;
}
.sbi-burst:before {
  content: "\e94a";
}
.sbi-bze:before {
  content: "\e94b";
  color: #00aeef;
}
.sbi-bzrx:before {
  content: "\e94c";
  color: #1785d4;
}
.sbi-call:before {
  content: "\e94d";
  color: #fbb413;
}
.sbi-cc:before {
  content: "\e94e";
  color: #36b0f3;
}
.sbi-cdn:before {
  content: "\e94f";
  color: #f70808;
}
.sbi-cdt:before {
  content: "\e950";
}
.sbi-cenz:before {
  content: "\e951";
  color: #3089f2;
}
.sbi-chain:before {
  content: "\e952";
  color: #00aced;
}
.sbi-chat:before {
  content: "\e953";
  color: #1c98f7;
}
.sbi-chips:before {
  content: "\e954";
  color: #598182;
}
.sbi-cix .path1:before {
  content: "\e955";
  color: rgb(5, 118, 180);
}
.sbi-cix .path2:before {
  content: "\e956";
  margin-left: -1em;
  color: rgb(5, 118, 180);
  opacity: 0.5;
}
.sbi-clam:before {
  content: "\e957";
  color: #20c5d3;
}
.sbi-cloak:before {
  content: "\e958";
  color: #ff3a00;
}
.sbi-cmm:before {
  content: "\e959";
  color: #2fd2e5;
}
.sbi-cmt:before {
  content: "\e95a";
  color: #c1a05c;
}
.sbi-cnd:before {
  content: "\e95b";
}
.sbi-cnx .path1:before {
  content: "\e95c";
  color: rgb(76, 107, 174);
}
.sbi-cnx .path2:before {
  content: "\e95d";
  margin-left: -1em;
  color: rgb(76, 107, 174);
  opacity: 0.497;
}
.sbi-cny:before {
  content: "\e95e";
  color: #ff4314;
}
.sbi-cob:before {
  content: "\e95f";
  color: #13bf99;
}
.sbi-colx:before {
  content: "\e960";
  color: #77c3b0;
}
.sbi-comp:before {
  content: "\e961";
  color: #00d395;
}
.sbi-coqui:before {
  content: "\e962";
  color: #71c800;
}
.sbi-cred:before {
  content: "\e963";
  color: #37e8a3;
}
.sbi-crpt:before {
  content: "\e964";
  color: #00bdcd;
}
.sbi-crv:before {
  content: "\e965";
  color: #ff0043;
}
.sbi-crw:before {
  content: "\e966";
}
.sbi-cs:before {
  content: "\e967";
}
.sbi-ctr:before {
  content: "\e968";
  color: #fdde6c;
}
.sbi-ctxc:before {
  content: "\e969";
}
.sbi-cvc:before {
  content: "\e96a";
  color: #3ab03e;
}
.sbi-d:before {
  content: "\e96b";
  color: #b8b8b8;
}
.sbi-dash:before {
  content: "\e96c";
  color: #008ce7;
}
.sbi-dat:before {
  content: "\e96d";
  color: #2d9cdb;
}
.sbi-data:before {
  content: "\e96e";
  color: #e9570f;
}
.sbi-dbc:before {
  content: "\e96f";
  color: #5bc1d4;
}
.sbi-dcn:before {
  content: "\e970";
  color: #136485;
}
.sbi-dcr:before {
  content: "\e971";
  color: #2ed6a1;
}
.sbi-deez:before {
  content: "\e972";
  color: #939393;
}
.sbi-dent:before {
  content: "\e973";
  color: #666;
}
.sbi-dew:before {
  content: "\e974";
  color: #fec907;
}
.sbi-dgb:before {
  content: "\e975";
  color: #006ad2;
}
.sbi-dgd:before {
  content: "\e976";
  color: #f4d029;
}
.sbi-dlt:before {
  content: "\e977";
  color: #f4ae95;
}
.sbi-dnt:before {
  content: "\e978";
  color: #2c398f;
}
.sbi-dock:before {
  content: "\e979";
  color: #786dbc;
}
.sbi-doge:before {
  content: "\e97a";
  color: #c3a634;
}
.sbi-dot:before {
  content: "\e97b";
  color: #e6007a;
}
.sbi-drgn .path1:before {
  content: "\e97c";
  color: rgb(201, 17, 17);
}
.sbi-drgn .path2:before {
  content: "\e97d";
  margin-left: -1em;
  color: rgb(201, 17, 17);
  opacity: 0.398;
}
.sbi-drop:before {
  content: "\e97e";
}
.sbi-dta:before {
  content: "\e97f";
  color: #74d269;
}
.sbi-dth:before {
  content: "\e980";
  color: #3c80f1;
}
.sbi-dtr .path1:before {
  content: "\e981";
  color: rgb(18, 23, 71);
}
.sbi-dtr .path2:before {
  content: "\e982";
  margin-left: -1em;
  color: rgb(18, 23, 71);
  opacity: 0.5;
}
.sbi-ebst:before {
  content: "\e983";
  color: #1693d4;
}
.sbi-eca:before {
  content: "\e984";
  color: #aa15dd;
}
.sbi-edg:before {
  content: "\e985";
  color: #2b1544;
}
.sbi-edo:before {
  content: "\e986";
}
.sbi-edoge:before {
  content: "\e987";
  color: #0facf3;
}
.sbi-ela .path1:before {
  content: "\e988";
  color: rgb(63, 186, 223);
}
.sbi-ela .path2:before {
  content: "\e989";
  margin-left: -1em;
  color: rgb(63, 186, 223);
  opacity: 0.4;
}
.sbi-ela .path3:before {
  content: "\e98a";
  margin-left: -1em;
  color: rgb(63, 186, 223);
  opacity: 0.7;
}
.sbi-ela .path4:before {
  content: "\e98b";
  margin-left: -1em;
  color: rgb(63, 186, 223);
  opacity: 0.8;
}
.sbi-ela .path5:before {
  content: "\e98c";
  margin-left: -1em;
  color: rgb(63, 186, 223);
}
.sbi-ela .path6:before {
  content: "\e98d";
  margin-left: -1em;
  color: rgb(63, 186, 223);
  opacity: 0.6;
}
.sbi-ela .path7:before {
  content: "\e98e";
  margin-left: -1em;
  color: rgb(63, 186, 223);
  opacity: 0.5;
}
.sbi-elec:before {
  content: "\e98f";
  color: #f90;
}
.sbi-elf:before {
  content: "\e990";
  color: #2b5ebb;
}
.sbi-elix .path1:before {
  content: "\e991";
  color: rgb(0, 173, 237);
}
.sbi-elix .path2:before {
  content: "\e992";
  margin-left: -1em;
  color: rgb(0, 173, 237);
  opacity: 0.8;
}
.sbi-elix .path3:before {
  content: "\e993";
  margin-left: -1em;
  color: rgb(0, 173, 237);
  opacity: 0.5;
}
.sbi-elix .path4:before {
  content: "\e994";
  margin-left: -1em;
  color: rgb(0, 173, 237);
  opacity: 0.145;
}
.sbi-ella:before {
  content: "\e995";
  color: #396a28;
}
.sbi-emc:before {
  content: "\e996";
  color: #b49ffc;
}
.sbi-emc2 .path1:before {
  content: "\e997";
  color: rgb(0, 204, 255);
}
.sbi-emc2 .path2:before {
  content: "\e998";
  margin-left: -1em;
  color: rgb(0, 204, 255);
  opacity: 0.4;
}
.sbi-emc2 .path3:before {
  content: "\e999";
  margin-left: -1em;
  color: rgb(0, 204, 255);
  opacity: 0.4;
}
.sbi-eng:before {
  content: "\e99a";
}
.sbi-enj:before {
  content: "\e99b";
  color: #624dbf;
}
.sbi-entrp:before {
  content: "\e99c";
  color: #fa5836;
}
.sbi-eon:before {
  content: "\e99d";
  color: #443f54;
}
.sbi-eop:before {
  content: "\e99e";
  color: #35a7df;
}
.sbi-eos:before {
  content: "\e99f";
}
.sbi-eqli:before {
  content: "\e9a0";
  color: #c9a35e;
}
.sbi-equa:before {
  content: "\e9a1";
  color: #f68922;
}
.sbi-etc .path1:before {
  content: "\e9a2";
  color: rgb(50, 131, 50);
}
.sbi-etc .path2:before {
  content: "\e9a3";
  margin-left: -1em;
  color: rgb(50, 131, 50);
  opacity: 0.8;
}
.sbi-etc .path3:before {
  content: "\e9a4";
  margin-left: -1em;
  color: rgb(50, 131, 50);
  opacity: 0.5;
}
.sbi-etc .path4:before {
  content: "\e9a5";
  margin-left: -1em;
  color: rgb(50, 131, 50);
  opacity: 0.5;
}
.sbi-eth .path1:before {
  content: "\e9a6";
  color: rgb(98, 126, 234);
}
.sbi-eth .path2:before {
  content: "\e9a7";
  margin-left: -1em;
  color: rgb(98, 126, 234);
  opacity: 0.5;
}
.sbi-eth .path3:before {
  content: "\e9a8";
  margin-left: -1em;
  color: rgb(98, 126, 234);
  opacity: 0.8;
}
.sbi-eth .path4:before {
  content: "\e9a9";
  margin-left: -1em;
  color: rgb(98, 126, 234);
  opacity: 0.5;
}
.sbi-eth .path5:before {
  content: "\e9aa";
  margin-left: -1em;
  color: rgb(98, 126, 234);
  opacity: 0.796;
}
.sbi-eth .path6:before {
  content: "\e9ab";
  margin-left: -1em;
  color: rgb(98, 126, 234);
  opacity: 0.5;
}
.sbi-ethos .path1:before {
  content: "\e9ac";
  color: rgb(0, 255, 186);
}
.sbi-ethos .path2:before {
  content: "\e9ad";
  margin-left: -1em;
  color: rgb(0, 255, 186);
  opacity: 0.622;
}
.sbi-etn:before {
  content: "\e9ae";
  color: #23bee2;
}
.sbi-etp:before {
  content: "\e9af";
  color: #00a5ff;
}
.sbi-eur:before {
  content: "\e9b0";
  color: #0f8ff8;
}
.sbi-evx:before {
  content: "\e9b1";
  color: #044aac;
}
.sbi-exmo:before {
  content: "\e9b2";
  color: #347ffb;
}
.sbi-exp:before {
  content: "\e9b3";
  color: #ffaa5c;
}
.sbi-fair:before {
  content: "\e9b4";
  color: #c99705;
}
.sbi-fct:before {
  content: "\e9b5";
  color: #417ba4;
}
.sbi-fil:before {
  content: "\e9b6";
  color: #42c1ca;
}
.sbi-fjc:before {
  content: "\e9b7";
  color: #00afec;
}
.sbi-fldc:before {
  content: "\e9b8";
  color: #c40e09;
}
.sbi-flo:before {
  content: "\e9b9";
  color: #2080a2;
}
.sbi-fsn:before {
  content: "\e9ba";
  color: #1d9ad7;
}
.sbi-ftc:before {
  content: "\e9bb";
}
.sbi-fuel:before {
  content: "\e9bc";
  color: #4096d0;
}
.sbi-fun:before {
  content: "\e9bd";
  color: #ed1968;
}
.sbi-game:before {
  content: "\e9be";
  color: #2d475b;
}
.sbi-gas:before {
  content: "\e9bf";
  color: #58bf00;
}
.sbi-gbp:before {
  content: "\e9c0";
  color: #bc3fe0;
}
.sbi-gbx:before {
  content: "\e9c1";
  color: #1666af;
}
.sbi-gbyte:before {
  content: "\e9c2";
}
.sbi-generic:before {
  content: "\e9c3";
  color: #efb914;
}
.sbi-gin:before {
  content: "\e9c4";
  color: #008dde;
}
.sbi-give:before {
  content: "\e9c5";
  color: #f1cb60;
}
.sbi-glxt:before {
  content: "\e9c6";
  color: #005396;
}
.sbi-gmr:before {
  content: "\e9c7";
}
.sbi-gno:before {
  content: "\e9c8";
  color: #00a6c4;
}
.sbi-gnt:before {
  content: "\e9c9";
  color: #001d57;
}
.sbi-gold:before {
  content: "\e9ca";
  color: #f1b32b;
}
.sbi-grc:before {
  content: "\e9cb";
  color: #5411b3;
}
.sbi-grin:before {
  content: "\e9cc";
  color: #fff300;
}
.sbi-grs:before {
  content: "\e9cd";
  color: #377e96;
}
.sbi-gsc:before {
  content: "\e9ce";
  color: #ff0060;
}
.sbi-gto:before {
  content: "\e9cf";
  color: #7f27ff;
}
.sbi-gup:before {
  content: "\e9d0";
  color: #37dcd8;
}
.sbi-gusd:before {
  content: "\e9d1";
  color: #00dcfa;
}
.sbi-gvt:before {
  content: "\e9d2";
  color: #16b9ad;
}
.sbi-gxs:before {
  content: "\e9d3";
  color: #35a5f3;
}
.sbi-gzr:before {
  content: "\e9d4";
  color: #56c9e9;
}
.sbi-hight:before {
  content: "\e9d5";
  color: #117fc0;
}
.sbi-hodl:before {
  content: "\e9d6";
  color: #d59143;
}
.sbi-hot:before {
  content: "\e9d7";
  color: #8834ff;
}
.sbi-hpb .path1:before {
  content: "\e9d8";
  color: rgb(21, 145, 202);
}
.sbi-hpb .path2:before {
  content: "\e9d9";
  margin-left: -1em;
  color: rgb(21, 145, 202);
  opacity: 0.5;
}
.sbi-hsr:before {
  content: "\e9da";
  color: #56428e;
}
.sbi-ht:before {
  content: "\e9db";
  color: #2a3069;
}
.sbi-html:before {
  content: "\e9dc";
  color: #cfa967;
}
.sbi-huc:before {
  content: "\e9dd";
  color: #ffc018;
}
.sbi-hush:before {
  content: "\e9de";
}
.sbi-icn:before {
  content: "\e9df";
  color: #4c6f8c;
}
.sbi-icx:before {
  content: "\e9e0";
  color: #1fc5c9;
}
.sbi-ignis:before {
  content: "\e9e1";
  color: #f9c011;
}
.sbi-ilk:before {
  content: "\e9e2";
  color: #98c23a;
}
.sbi-ink:before {
  content: "\e9e3";
  color: #df1a14;
}
.sbi-ins .path1:before {
  content: "\e9e4";
  color: rgb(178, 163, 246);
}
.sbi-ins .path2:before {
  content: "\e9e5";
  margin-left: -1em;
  color: rgb(178, 163, 246);
  opacity: 0.5;
}
.sbi-ion:before {
  content: "\e9e6";
  color: #57beea;
}
.sbi-iop:before {
  content: "\e9e7";
  color: #0cafa5;
}
.sbi-iost:before {
  content: "\e9e8";
}
.sbi-iota:before {
  content: "\e9e9";
}
.sbi-iotx:before {
  content: "\e9ea";
  color: #00d4d5;
}
.sbi-iq:before {
  content: "\e9eb";
  color: #5df;
}
.sbi-itc:before {
  content: "\e9ec";
}
.sbi-jnt:before {
  content: "\e9ed";
  color: #0050db;
}
.sbi-jpy:before {
  content: "\e9ee";
  color: #eac749;
}
.sbi-kava:before {
  content: "\e9ef";
  color: #ff564f;
}
.sbi-kcs:before {
  content: "\e9f0";
  color: #0093dd;
}
.sbi-kin:before {
  content: "\e9f1";
  color: #005fff;
}
.sbi-klown .path1:before {
  content: "\e9f2";
  color: rgb(234, 0, 23);
}
.sbi-klown .path2:before {
  content: "\e9f3";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.sbi-kmd:before {
  content: "\e9f4";
  color: #2b6680;
}
.sbi-knc:before {
  content: "\e9f5";
  color: #188c92;
}
.sbi-krb:before {
  content: "\e9f6";
  color: #00aeef;
}
.sbi-ksm:before {
  content: "\e9f7";
}
.sbi-lbc:before {
  content: "\e9f8";
  color: #006149;
}
.sbi-lend:before {
  content: "\e9f9";
  color: #0fa9c9;
}
.sbi-leo:before {
  content: "\e9fa";
}
.sbi-link:before {
  content: "\e9fb";
  color: #01a6fb;
}
.sbi-lkk:before {
  content: "\e9fc";
  color: #9d01eb;
}
.sbi-loom:before {
  content: "\e9fd";
  color: #48beff;
}
.sbi-lpt:before {
  content: "\e9fe";
}
.sbi-lrc:before {
  content: "\e9ff";
  color: #2ab6f6;
}
.sbi-lsk:before {
  content: "\ea00";
  color: #0d4ea0;
}
.sbi-ltc:before {
  content: "\ea01";
  color: #bfbbbb;
}
.sbi-lun:before {
  content: "\ea02";
  color: #f55749;
}
.sbi-maid .path1:before {
  content: "\ea03";
  color: rgb(85, 146, 215);
}
.sbi-maid .path2:before {
  content: "\ea04";
  margin-left: -1em;
  color: rgb(85, 146, 215);
  opacity: 0.4020;
}
.sbi-maid .path3:before {
  content: "\ea05";
  margin-left: -1em;
  color: rgb(85, 146, 215);
  opacity: 0.8;
}
.sbi-mana:before {
  content: "\ea06";
  color: #bfb5af;
}
.sbi-matic:before {
  content: "\ea07";
  color: #2b6def;
}
.sbi-mcap:before {
  content: "\ea08";
}
.sbi-mco:before {
  content: "\ea09";
  color: #103f68;
}
.sbi-mda:before {
  content: "\ea0a";
  color: #01a64f;
}
.sbi-mds:before {
  content: "\ea0b";
}
.sbi-med:before {
  content: "\ea0c";
  color: #00b0ff;
}
.sbi-meetone:before {
  content: "\ea0d";
}
.sbi-mft:before {
  content: "\ea0e";
  color: #da1157;
}
.sbi-mith:before {
  content: "\ea0f";
  color: #00316d;
}
.sbi-mkr:before {
  content: "\ea10";
  color: #1abc9c;
}
.sbi-mln:before {
  content: "\ea11";
}
.sbi-mnx:before {
  content: "\ea12";
  color: #00adef;
}
.sbi-mnz:before {
  content: "\ea13";
  color: #7f368a;
}
.sbi-moac:before {
  content: "\ea14";
}
.sbi-mod .path1:before {
  content: "\ea15";
  color: rgb(9, 84, 125);
}
.sbi-mod .path2:before {
  content: "\ea16";
  margin-left: -1em;
  color: rgb(9, 84, 125);
  opacity: 0.5;
}
.sbi-mona:before {
  content: "\ea17";
  color: #dec799;
}
.sbi-msr:before {
  content: "\ea18";
  color: #47b95c;
}
.sbi-mth .path1:before {
  content: "\ea19";
  color: rgb(16, 79, 202);
}
.sbi-mth .path2:before {
  content: "\ea1a";
  margin-left: -1em;
  color: rgb(16, 79, 202);
  opacity: 0.5;
}
.sbi-mth .path3:before {
  content: "\ea1b";
  margin-left: -1em;
  color: rgb(16, 79, 202);
  opacity: 0.6;
}
.sbi-mth .path4:before {
  content: "\ea1c";
  margin-left: -1em;
  color: rgb(16, 79, 202);
  opacity: 0.8050;
}
.sbi-mtl:before {
  content: "\ea1d";
}
.sbi-music:before {
  content: "\ea1e";
  color: #fbbf02;
}
.sbi-mzc:before {
  content: "\ea1f";
  color: #ffaa05;
}
.sbi-nano:before {
  content: "\ea20";
  color: #4a90e2;
}
.sbi-nas:before {
  content: "\ea21";
}
.sbi-nav:before {
  content: "\ea22";
  color: #7d59b5;
}
.sbi-ncash:before {
  content: "\ea23";
  color: #36a9cf;
}
.sbi-ndz:before {
  content: "\ea24";
  color: #622fba;
}
.sbi-nebl:before {
  content: "\ea25";
  color: #50479e;
}
.sbi-neo:before {
  content: "\ea26";
  color: #58bf00;
}
.sbi-neos:before {
  content: "\ea27";
  color: #e5f300;
}
.sbi-neu:before {
  content: "\ea28";
  color: #b3ba00;
}
.sbi-nexo:before {
  content: "\ea29";
  color: #1a4199;
}
.sbi-ngc:before {
  content: "\ea2a";
  color: #f80000;
}
.sbi-nio:before {
  content: "\ea2b";
  color: #70c9c9;
}
.sbi-nlc2:before {
  content: "\ea2c";
  color: #f28f01;
}
.sbi-nlg:before {
  content: "\ea2d";
  color: #2ab0fd;
}
.sbi-nmc:before {
  content: "\ea2e";
  color: #186c9d;
}
.sbi-npxs:before {
  content: "\ea2f";
  color: #f5d100;
}
.sbi-nuls:before {
  content: "\ea30";
  color: #82bd39;
}
.sbi-nxs:before {
  content: "\ea31";
  color: #4099cd;
}
.sbi-nxt:before {
  content: "\ea32";
  color: #008fbb;
}
.sbi-oax:before {
  content: "\ea33";
  color: #164b79;
}
.sbi-ok:before {
  content: "\ea34";
}
.sbi-omg:before {
  content: "\ea35";
  color: #1a53f0;
}
.sbi-omni:before {
  content: "\ea36";
  color: #1c347a;
}
.sbi-ong:before {
  content: "\ea37";
}
.sbi-ont:before {
  content: "\ea38";
  color: #32a4be;
}
.sbi-oot:before {
  content: "\ea39";
  color: #25aae1;
}
.sbi-ost:before {
  content: "\ea3a";
  color: #34445b;
}
.sbi-ox:before {
  content: "\ea3b";
  color: #4392cd;
}
.sbi-pac:before {
  content: "\ea3c";
  color: #f5eb16;
}
.sbi-part:before {
  content: "\ea3d";
  color: #03e8b0;
}
.sbi-pasc:before {
  content: "\ea3e";
  color: #f7931e;
}
.sbi-pasl:before {
  content: "\ea3f";
  color: #00acff;
}
.sbi-pax:before {
  content: "\ea40";
  color: #ede708;
}
.sbi-pay:before {
  content: "\ea41";
}
.sbi-payx:before {
  content: "\ea42";
  color: #630;
}
.sbi-pink .path1:before {
  content: "\ea43";
  color: rgb(237, 121, 170);
}
.sbi-pink .path2:before {
  content: "\ea44";
  margin-left: -1em;
  color: rgb(237, 121, 170);
  opacity: 0.5;
}
.sbi-pirl:before {
  content: "\ea45";
  color: #96b73d;
}
.sbi-pivx:before {
  content: "\ea46";
  color: #5e4778;
}
.sbi-plr:before {
  content: "\ea47";
  color: #00bfff;
}
.sbi-poa:before {
  content: "\ea48";
  color: #444fa1;
}
.sbi-poe:before {
  content: "\ea49";
  color: #dcd6cc;
}
.sbi-polis:before {
  content: "\ea4a";
}
.sbi-poly:before {
  content: "\ea4b";
  color: #4c5a95;
}
.sbi-pot:before {
  content: "\ea4c";
  color: #105b2f;
}
.sbi-powr:before {
  content: "\ea4d";
  color: #05bca9;
}
.sbi-ppc:before {
  content: "\ea4e";
  color: #3cb054;
}
.sbi-ppp:before {
  content: "\ea4f";
  color: #348f8d;
}
.sbi-ppt:before {
  content: "\ea50";
}
.sbi-pre:before {
  content: "\ea51";
  color: #3a8cbd;
}
.sbi-prl:before {
  content: "\ea52";
  color: #1061e3;
}
.sbi-pungo:before {
  content: "\ea53";
  color: #22b573;
}
.sbi-pura:before {
  content: "\ea54";
}
.sbi-qash:before {
  content: "\ea55";
  color: #1347e8;
}
.sbi-qiwi:before {
  content: "\ea56";
  color: #ff8c00;
}
.sbi-qlc:before {
  content: "\ea57";
  color: #610089;
}
.sbi-qrl:before {
  content: "\ea58";
}
.sbi-qsp:before {
  content: "\ea59";
}
.sbi-qtum:before {
  content: "\ea5a";
  color: #2e9ad0;
}
.sbi-r:before {
  content: "\ea5b";
  color: #771a4e;
}
.sbi-rads:before {
  content: "\ea5c";
  color: #9d4bef;
}
.sbi-rap:before {
  content: "\ea5d";
}
.sbi-rcn:before {
  content: "\ea5e";
  color: #3555f9;
}
.sbi-rdd .path1:before {
  content: "\ea5f";
  color: rgb(227, 6, 19);
}
.sbi-rdd .path2:before {
  content: "\ea60";
  margin-left: -1em;
  color: rgb(227, 6, 19);
  opacity: 0.6;
}
.sbi-rdn:before {
  content: "\ea61";
}
.sbi-ren:before {
  content: "\ea62";
}
.sbi-rep:before {
  content: "\ea63";
  color: #602a52;
}
.sbi-req:before {
  content: "\ea64";
  color: #00e6a0;
}
.sbi-rhoc:before {
  content: "\ea65";
  color: #cc1e46;
}
.sbi-ric:before {
  content: "\ea66";
  color: #60e4dd;
}
.sbi-rise:before {
  content: "\ea67";
  color: #f49352;
}
.sbi-rlc:before {
  content: "\ea68";
  color: #ffd800;
}
.sbi-rpx:before {
  content: "\ea69";
  color: #8d181b;
}
.sbi-rub:before {
  content: "\ea6a";
  color: #64d1ff;
}
.sbi-rune:before {
  content: "\ea6b";
  color: #1be7ca;
}
.sbi-rvn:before {
  content: "\ea6c";
  color: #384182;
}
.sbi-ryo:before {
  content: "\ea6d";
  color: #3d58b0;
}
.sbi-safe:before {
  content: "\ea6e";
  color: #00688c;
}
.sbi-sai:before {
  content: "\ea6f";
  color: #b68900;
}
.sbi-salt:before {
  content: "\ea70";
  color: #1beef4;
}
.sbi-san:before {
  content: "\ea71";
  color: #2b77b3;
}
.sbi-sbd:before {
  content: "\ea72";
  color: #4ba2f2;
}
.sbi-sberbank:before {
  content: "\ea73";
  color: #48b254;
}
.sbi-sc:before {
  content: "\ea74";
  color: #20ee82;
}
.sbi-shift:before {
  content: "\ea75";
  color: #964b9c;
}
.sbi-sib:before {
  content: "\ea76";
  color: #057bc1;
}
.sbi-sin:before {
  content: "\ea77";
  color: #f5342e;
}
.sbi-sky:before {
  content: "\ea78";
  color: #0072ff;
}
.sbi-slr:before {
  content: "\ea79";
  color: #fda616;
}
.sbi-sls:before {
  content: "\ea7a";
  color: #8e9495;
}
.sbi-smart:before {
  content: "\ea7b";
  color: #fec60d;
}
.sbi-sngls:before {
  content: "\ea7c";
  color: #b30d23;
}
.sbi-snm:before {
  content: "\ea7d";
}
.sbi-snt:before {
  content: "\ea7e";
  color: #5b6dee;
}
.sbi-snx:before {
  content: "\ea7f";
  color: #00d1ff;
}
.sbi-soc:before {
  content: "\ea80";
  color: #199248;
}
.sbi-sol:before {
  content: "\ea81";
  color: #709fcd;
}
.sbi-spank:before {
  content: "\ea82";
  color: #ff3b81;
}
.sbi-sphtx:before {
  content: "\ea83";
  color: #00b098;
}
.sbi-srn:before {
  content: "\ea84";
}
.sbi-stak:before {
  content: "\ea85";
  color: #f2941b;
}
.sbi-start:before {
  content: "\ea86";
  color: #01aef0;
}
.sbi-steem:before {
  content: "\ea87";
  color: #4ba2f2;
}
.sbi-storj:before {
  content: "\ea88";
  color: #2683ff;
}
.sbi-storm:before {
  content: "\ea89";
  color: #080d98;
}
.sbi-stq:before {
  content: "\ea8a";
  color: #2dc4e7;
}
.sbi-strat:before {
  content: "\ea8b";
  color: #1387c9;
}
.sbi-sub:before {
  content: "\ea8c";
  color: #e53431;
}
.sbi-sumo:before {
  content: "\ea8d";
  color: #2d9cdb;
}
.sbi-sxp:before {
  content: "\ea8e";
  color: #ff811e;
}
.sbi-sys:before {
  content: "\ea8f";
  color: #0082c6;
}
.sbi-taas:before {
  content: "\ea90";
}
.sbi-tau:before {
  content: "\ea91";
  color: #7b346e;
}
.sbi-tbx:before {
  content: "\ea92";
  color: #5244d4;
}
.sbi-tel:before {
  content: "\ea93";
  color: #14c8ff;
}
.sbi-ten:before {
  content: "\ea94";
  color: #0899cd;
}
.sbi-tern:before {
  content: "\ea95";
  color: #f4c257;
}
.sbi-tgch:before {
  content: "\ea96";
}
.sbi-theta:before {
  content: "\ea97";
  color: #2ab8e6;
}
.sbi-tix:before {
  content: "\ea98";
  color: #ef494d;
}
.sbi-tkn:before {
  content: "\ea99";
  color: #24dd7b;
}
.sbi-tks:before {
  content: "\ea9a";
  color: #895af8;
}
.sbi-tnb:before {
  content: "\ea9b";
  color: #ffc04e;
}
.sbi-tnc:before {
  content: "\ea9c";
  color: #ff439b;
}
.sbi-tnt:before {
  content: "\ea9d";
  color: #ff4081;
}
.sbi-tomo:before {
  content: "\ea9e";
}
.sbi-tpay:before {
  content: "\ea9f";
  color: #3058a6;
}
.sbi-trb:before {
  content: "\eaa0";
  color: #53fdb2;
}
.sbi-trig:before {
  content: "\eaa1";
  color: #30c0f2;
}
.sbi-trtl:before {
  content: "\eaa2";
  color: #00843d;
}
.sbi-trx:before {
  content: "\eaa3";
}
.sbi-tusd:before {
  content: "\eaa4";
  color: #2b2e7f;
}
.sbi-tzc:before {
  content: "\eaa5";
  color: #374851;
}
.sbi-ubq .path1:before {
  content: "\eaa6";
  color: rgb(0, 234, 144);
}
.sbi-ubq .path2:before {
  content: "\eaa7";
  margin-left: -1em;
  color: rgb(0, 234, 144);
  opacity: 0.5;
}
.sbi-unity .path1:before {
  content: "\eaa8";
  color: rgb(245, 134, 52);
}
.sbi-unity .path2:before {
  content: "\eaa9";
  margin-left: -1em;
  color: rgb(245, 134, 52);
  opacity: 0.5;
}
.sbi-usd:before {
  content: "\eaaa";
  color: #6cde07;
}
.sbi-usdc:before {
  content: "\eaab";
  color: #2775c9;
}
.sbi-usdt:before {
  content: "\eaac";
  color: #26a17b;
}
.sbi-utk:before {
  content: "\eaad";
  color: #30367a;
}
.sbi-veri:before {
  content: "\eaae";
  color: #f93;
}
.sbi-vet:before {
  content: "\eaaf";
  color: #15bdff;
}
.sbi-via:before {
  content: "\eab0";
  color: #565656;
}
.sbi-vib:before {
  content: "\eab1";
  color: #ff1f43;
}
.sbi-vibe:before {
  content: "\eab2";
  color: #338be5;
}
.sbi-vivo:before {
  content: "\eab3";
  color: #408af1;
}
.sbi-vrc:before {
  content: "\eab4";
  color: #418bca;
}
.sbi-vrsc:before {
  content: "\eab5";
  color: #ffb500;
}
.sbi-vtc:before {
  content: "\eab6";
  color: #048657;
}
.sbi-vtho:before {
  content: "\eab7";
  color: #2a5284;
}
.sbi-wabi:before {
  content: "\eab8";
  color: #399b32;
}
.sbi-wan:before {
  content: "\eab9";
  color: #136aad;
}
.sbi-waves:before {
  content: "\eaba";
  color: #0155ff;
}
.sbi-wax:before {
  content: "\eabb";
  color: #f89022;
}
.sbi-wgr:before {
  content: "\eabc";
  color: #b80000;
}
.sbi-wicc:before {
  content: "\eabd";
  color: #5783cb;
}
.sbi-wings .path1:before {
  content: "\eabe";
  color: rgb(13, 201, 247);
}
.sbi-wings .path2:before {
  content: "\eabf";
  margin-left: -1em;
  color: rgb(13, 201, 247);
  opacity: 0.7;
}
.sbi-wings .path3:before {
  content: "\eac0";
  margin-left: -1em;
  color: rgb(13, 201, 247);
  opacity: 0.3;
}
.sbi-wpr:before {
  content: "\eac1";
  color: #ffe600;
}
.sbi-wtc .path1:before {
  content: "\eac2";
  color: rgb(130, 0, 255);
}
.sbi-wtc .path2:before {
  content: "\eac3";
  margin-left: -1em;
  color: rgb(130, 0, 255);
  opacity: 0.5040;
}
.sbi-x:before {
  content: "\eac4";
  color: #3b5998;
}
.sbi-xas:before {
  content: "\eac5";
  color: #faa00d;
}
.sbi-xbc:before {
  content: "\eac6";
  color: #f7931a;
}
.sbi-xbp:before {
  content: "\eac7";
  color: #21af67;
}
.sbi-xbtc:before {
  content: "\eac8";
  color: #ff914d;
}
.sbi-xby:before {
  content: "\eac9";
  color: #56f4f1;
}
.sbi-xcp:before {
  content: "\eaca";
  color: #ed1650;
}
.sbi-xdn:before {
  content: "\eacb";
  color: #4f7aa2;
}
.sbi-xem:before {
  content: "\eacc";
  color: #67b2e8;
}
.sbi-xin:before {
  content: "\eacd";
  color: #1eb5fa;
}
.sbi-xlm:before {
  content: "\eace";
}
.sbi-xmcc:before {
  content: "\eacf";
  color: #dd0632;
}
.sbi-xmg:before {
  content: "\ead0";
  color: #004a80;
}
.sbi-xmo:before {
  content: "\ead1";
  color: #f60;
}
.sbi-xmr:before {
  content: "\ead2";
  color: #f60;
}
.sbi-xmy:before {
  content: "\ead3";
  color: #ec1076;
}
.sbi-xp:before {
  content: "\ead4";
  color: #008200;
}
.sbi-xpa:before {
  content: "\ead5";
  color: #4fa784;
}
.sbi-xpm:before {
  content: "\ead6";
  color: #ffd81b;
}
.sbi-xrp:before {
  content: "\ead7";
}
.sbi-xsg:before {
  content: "\ead8";
  color: #d21e2b;
}
.sbi-xtz:before {
  content: "\ead9";
  color: #a6e000;
}
.sbi-xuc:before {
  content: "\eada";
  color: #25aae3;
}
.sbi-xvc:before {
  content: "\eadb";
  color: #b50126;
}
.sbi-xvg:before {
  content: "\eadc";
  color: #00cbff;
}
.sbi-xzc:before {
  content: "\eadd";
  color: #23b852;
}
.sbi-yfi:before {
  content: "\eade";
  color: #006ae3;
}
.sbi-yoyow:before {
  content: "\eadf";
  color: #21a5de;
}
.sbi-zcl:before {
  content: "\eae0";
  color: #c87035;
}
.sbi-zec:before {
  content: "\eae1";
  color: #ecb244;
}
.sbi-zel:before {
  content: "\eae2";
  color: #183c87;
}
.sbi-zen:before {
  content: "\eae3";
  color: #00eaab;
}
.sbi-zest:before {
  content: "\eae4";
  color: #07bc9c;
}
.sbi-zil .path1:before {
  content: "\eae5";
  color: rgb(73, 193, 191);
}
.sbi-zil .path2:before {
  content: "\eae6";
  margin-left: -1em;
  color: rgb(73, 193, 191);
  opacity: 0.3;
}
.sbi-zil .path3:before {
  content: "\eae7";
  margin-left: -1em;
  color: rgb(73, 193, 191);
  opacity: 0.65;
}
.sbi-zilla:before {
  content: "\eae8";
  color: #00004d;
}
.sbi-zrx:before {
  content: "\eae9";
}
